[Desktop Entry]
Encoding=UTF-8
Name=Link to Copyright Ontario Council of University Libraries. Link to website
Type=Link
URL=http://www.ocul.on.ca/
Icon=text-html
